.aim-signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    font-family: 'Arial', sans-serif;
    width: 250px; /* Adjust the width as needed */
    box-sizing: border-box; /* Ensures padding is included in width */
}

.aim-logo-banner {
    background-color: #1240ab;
    width: 100%;
    height: 60px; /* Adjust the height as needed */
    margin-bottom: 10px; /* Adds space below the banner */
}

.aim-logo {
    background-image: url('../assets/aim/aim-sign-in.png');  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centers the logo in the banner */
    width: 100%;
    height: 100%;
}

/* Add a container for the sign-in form to control layout */
.aim-signin-form {
    width: 100%;
}

.aim-input {
    border: 1px solid #c0c0c0;
    padding: 8px;
    margin: 4px 0;
    font-size: 12px;
    width: calc(100% - 16px);
    box-sizing: border-box;
}

.aim-link {
    color: #0000ff;
    text-decoration: underline;
    font-size: 10px;
    margin: 5px 0;
    text-align: center;
    display: block; /* Ensures links are on their own line */
}

.aim-checkbox-container {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin: 10px 0;
}

.aim-checkbox {
    display: flex;
    align-items: center;
}

.aim-checkbox input[type='checkbox'] {
    margin-right: 5px;
}

.aim-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.aim-signon-btn,
.aim-cancel-btn {
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin: 2px;
}

.aim-signon-btn {
    background-color: #0044ff;
}

.aim-signon-btn:hover {
    background-color: #0033cc;
}

.aim-cancel-btn {
    background-color: #f3f3f3;
    color: #000;
}

.aim-cancel-btn:hover {
    background-color: #e0e0e0;
}

.aim-links-container {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    font-size: 10px;
}

.aim-version {
    font-size: 9px;
    color: #808080;
    margin-top: 10px;
    text-align: center;
}
