#homepage {
    background: rgb(0,26,255);
    background: linear-gradient(180deg, rgba(0,26,255,1) 88%, rgba(90,110,255,1) 100%);
    color: white;
  
  }
  
  #homepage p {
    padding-inline: 5%;
  }
  
  #homepage > h1 {
    text-align: center;
  }
  
  #homepage > h2 {
    text-align: center;
  }