h1, h2 {
    text-align: center;
}

p {
    padding-inline: 5%;
}

.net-container {
    display: flex;
    justify-content: center;
}

.net-col {
    display: flex;
    flex-direction: column;
    width: 15%;
    border: 2px solid white;
}

.col-left {
    order: 0;
}

.col-right {
    order: 1;
}

.net-col > ul {
    list-style: none;
    margin: 5% 0;
}

.net-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
}

.net-list-item {
    margin: 5% 0;
}

a {
    color: white;
}

.net-body {
    width: 65%;
    border: 2px solid white;
}

.net-article-head {
    text-align: center;
}

.net-body {
    display: flex;
    flex-direction: column;
}

.net-body > section {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.net-article {
    align-self: center;
    padding-inline: 2%;
    padding-bottom: 2%;
    width: 85%;
    display: flex;
    flex-direction: column;
    border: 2px dotted white;
    margin: 1% 0;
}

.net-lede {
    padding-top: 2%;
    width: 100%;
}

.net-article-image {
    padding-top: 2%;
    padding-inline: 5%;
    padding-bottom: 3%;
    max-width: 200px;
    max-height: 200px;
}

.article-link {
    display: inline;
    height: 1em;
    width: 25%;
    color: white;
    margin: 0 0 2% 75%;
}

section {
    display: flex;
    flex-direction: column;
}

.visit-page-button {
    width: 65px;
}

#homepage {
    background: rgb(0,26,255);
    background: linear-gradient(180deg, rgba(0,26,255,1) 88%, rgba(90,110,255,1) 100%);
    color: white;
}

#games {
    background: rgb(93,233,102);
    background: linear-gradient(180deg, rgba(93,233,102,1) 0%, rgba(0,195,19,1) 35%);
    color: rgb(133, 2, 2);
}

#games .net-article {
    border: 2px dotted rgb(133, 2, 2);
}

#games a {
    color: rgb(133, 2, 2);
}

#games .net-body {
    width: 65%;
    border: 2px solid rgb(133, 2, 2);
}

#newpage {
    background-color: #5E877D;
    color: white;
}

#newpage p {
    padding-inline: 7%;
}

.profile-image {
    width: 75%;
    align-self: center;
    padding-top: 5%;
}
