.internet {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
  
.internet > .net-page {
  height: 100%;
  width: 100%;
  overflow: auto;
  border: 1px solid black;
  background-color: beige;
}

.internet > h1 {
  font-size: 2.25em;
  text-align: center;
}

.internet > h2 {
  font-size: 1.75em;
  text-align: center;
}

.net-header {
  position: sticky;
  top: 0;
  width: 90%;
  height: 85px;
  display: flex;
  padding-inline: 5%;
  align-items: center;
  background: rgb(184,184,184);
  background: linear-gradient(180deg, rgb(221, 221, 221) 83%, rgb(209, 209, 209) 100%);
  z-index: 5;
  border-inline: 1px solid black;
}

.net-button-container > button {
  width: 50px;
  height: 50px;
}

.net-button-container {
  padding-top: 5px;
  display: flex;
}

.net-input-container {
  margin: 5px 0;
  padding-inline: 2%;
  display: flex;
  width: 95%;
}
.net-location {
  margin: 0 10px;
  width: 75px;
}
.net-input {
  width: 100%;
}

.net-button-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .85em;
}
  
  