.notepad-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notepad-options {
    display: flex;
    background-color: #e0e0e0;
}
  
.notepad-options button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.notepad-options button:hover {
    background-color: #bdbdbd;
}
.notepad-container textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    background-color: #fff;
}