#run-window {
    position: absolute;
    left: 0;
    bottom: 500px;
}

.run {
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    height: 100%;
    width: 100%;
}

.run-prompt-container {
    display: flex;
    margin-inline: 20px;
    margin-top: 15px;
}

.win-run-icon {
    height: 50px;
}

.run-prompt {
    margin-left: 15px;
}

.run-input-container {
    width: 100%;
    display: flex;
    margin-top: 15px;  
}

.run-text {
    width: 25%;
    margin-left: 20px;
}

.run-input {
    margin-left: 10px;
    height: 1em;
    width: 100%;
    margin-right: 20px;
}

.master-button-container {
    display: flex;
    margin-top: 10px;  
    margin-inline-start: 33%;
    width: 65%;
}

.master-button-container > button {
    border-radius: 0px;
    margin-right: 7px;
    
    box-shadow: 1px 1px 1px rgb(58, 58, 58);
}

.run-button-container {
    margin-right: 7px;
    margin-top: 5px;
}

.run-button-container > button {
    border-left: white 1px solid;
    border-top: white 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    box-shadow: 1px 1px 1px rgb(58, 58, 58);
    width: 75px;
    height: 25px;
    background-color: #dddddd;
}

.tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tip .tip-text {
    position: fixed;
    z-index: 4;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3%;
    visibility: hidden;
    width: fit-content;
    background-color:rgb(248, 242, 230);
    color: black;

    padding-inline: 15px;
    box-shadow: 3px 3px 3px rgba(58, 58, 58, 0.63);
}

.tip .visible {
    visibility: visible;
}

#run-input-help {
    z-index: 4;
    left: 6%;
    bottom: 6%;
    height: 9%;
    width: 650px;
}

#run-program-help {
    left: 8%;
}

#close-run-help {
    left: 12%;
}

#run-browse-help {
    left: 16%;
}