@font-face {
    font-family: 'MS95';
    src: local('MS95'), url(../fonts/w95fa.woff) format('woff');
}

.safe-mode-head-container {
    width: 25%;
}

.safe-mode-title {
    text-align: left;
    font-size: 1.25em;
    margin-bottom: 5px;
}

.safe-mode-line {
    border-top: 1px solid white;
    width: 100%;
    margin-bottom: 2px;
}

.safe-mode {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    font-family: MS95;
}

.safe-mode-menu {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
}

.safe-mode-submenu {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.choice {
    margin-right: 75px;
}

.safe-mode-option {
    list-style: none;
    margin-bottom: 5px;
    width: fit-content;
    padding-right: 5px;
}

.option-text {
    margin-left: 10px;
}

.select {
    background-color: rgb(130, 130, 130);
    color: white;
}