.start-menu {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 3.25%;
    width: 17%;
    height: 33%;
    background-color: #b8b8b8;
    border: solid black 1px;
    border-top-right-radius: 5px;
  }
  
  .start-title-container {
    display: flex;
    width: 25%;
    height: 100%;
    background-color: blue;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  
  .start-option-list {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    height: 100%;
  }

  .start-option {
    width: 100%;
    display: flex;
  }

  #shutdown {
    position: relative;
    top: 40%;
  }
  
  .start-option-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 7%;
    width: 75%;
  }

  .start-option-arrow {
    margin: 5%;
    align-self: center;
  }
  
  .start-title {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: white;
    font-weight: bold;
    font-family: Cambria;
    font-size: 2.5em;
  }
  
  .start-item {
    display: flex;
    text-align: center;
    align-self: center;
    list-style-type: none;
    padding: 0 10%;
  }
  
  .start-option-container:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  
  .min-win {
    display: flex;
    justify-content: flex-start;
  }
  
  .min-win-button {
    cursor: pointer;
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 2px;
    padding-inline: 7px;
  }
  
  .selected {
    font-weight: bold;
    background-color: #d3d3d3;
  }
  
  .start-item-icon {
    width: 40px;
  }
