@font-face {
    font-family: 'MS95';
    src: local('MS95'), url(../fonts/w95fa.woff) format('woff');

  }

.terminal {
    font-size: 1.25em;
    height: 100%;
    width: 100%;
    background-color: black;
    color: rgb(245, 244, 244);
    overflow: auto;
}

.line-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}

.copy-95 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.copy-95 > div {
    margin-left: 10px;
}

.restricted {
    margin-top: 10px;
    margin-bottom: 5px;
}

.line-input {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    width: 95%;
}

.dir {
    min-width: fit-content;
    margin-right: 5px;
}

.terminal-input {
    float: left;
    font-family: MS95;
    font-size: 1em;
    color: rgb(245, 244, 244);
    width: fit-content;
    padding: none;
    display: block;
    border: none;
    border-style: none;
    border-width: none;
    border-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: fill;
    height: fit-content;
    overflow: visible;
    caret-color: transparent;
    outline: none;
    margin-left: 10px;
}

.terminal-input:focus {
    outline: none;
}

.caret-active {
    margin-left: 10px;
    width: .66em;
    height: 1em;
    background-color: rgb(245, 244, 244);
    color: transparent;
    animation: caret 1.33s step-end infinite;
}


@keyframes caret {
        from,
        to {
            background-color: transparent;
        }
        50% {
            background-color: rgb(245, 244, 244);
        }
    }
