@font-face {
    font-family: 'digital';
    src: url(../../fonts/DS-DIGI.TTF);
}

.minesweeper {
    display: flex;
    flex-direction: column;
}

.top-lvl {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.mine-num, .mine-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: black;
    font-family: 'digital';
    color: red;
    font-size: 1.5em;
}

.mine-num {
    margin-left: 15%;
}

.mine-timer {
    margin-right: 15%;
}

.mine-grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(155, 155, 155);
}

.mine-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    border-left: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}
