@font-face {
    font-family: 'digital';
    src: url(../../fonts/DS-DIGI.TTF);
}

.minesweeper {
    display: flex;
    flex-direction: column;
}

.top-lvl {
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 250px;
}

.mine-num, .mine-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: black;
    font-family: 'digital';
    color: red;
    font-size: 1.5em;
}

.mine-num {
    margin-left: 15%;
}

.mine-timer {
    margin-right: 15%;
}

.mine-grid {
    height: 250px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(186, 186, 186);
}

.mine-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    width: 19px;
    border-left: 3px solid rgb(232, 232, 232);
    border-top: 3px solid rgb(232, 232, 232);
    border-right: 3px solid rgb(19, 19, 19);
    border-bottom: 3px solid rgb(19, 19, 19);
    font-weight: bold;
}
