html, body {
  margin:0px;
  height:100%;
  background-color:lightsteelblue;
}

.hidden {
  visibility: hidden;
}

.App {
  width: 100%;
  height: 100%;
}

.col-container {
  display: flex;
  height:100vh;
  height:100vh;
}

.col {
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  width: 8%;
  height:95vh;
}

.slot {
  height: 10%;
}

.shortcut {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 0;
}

.desktop-icon {
  width: 48px;
}

.folder-name {
  margin: 5px;
}

.bottom {
  position: fixed;
  bottom: 0;
  height: 35px;
  width: 100%;
  z-index: 3;
}

.start-bar {
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 100%;
  background: rgb(184,184,184);
  background: linear-gradient(180deg, rgba(184,184,184,1) 83%, rgba(129,129,129,1) 100%);
}

.start-button {
  cursor: pointer;
  display: flex;
  font-weight: bold;
  width: 4%;
  min-width: 75px;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;
}

.bar-body {
  display: flex;
  width: 92.5%;
}

.clock {
  width: 3.5%;
  min-width: 75px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-inline: 1%;
  border: 1px solid black;
}

#net-icon {
  width: 125px;
  height: 80px;
  margin: 0px 0px -15px -10px;
}

.basic-window {
  min-width: 300px;
  min-height: 350px;
  width: 25%;
  height: 33%;
  border: 1px solid black;
  z-index: 1;
  background-color: azure;
  display: flex;
  flex-direction: column;
  resize: both;
}

.window-top {
  position: sticky;
  top: 0;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background: blue;
  z-index: 5;
}

.window-body {
  width: 100%;
  height: 100%;
}

.window-title {
  color: white;
  margin: 0 15px;
  font-size: .75em;
  align-self: center;
  font-weight: bold;
}

.windows-button {
  width: 25px;
}

.window-buttons {
  margin: 0 1px;
  height: 100%;
  width: 75px;
}

.start-menu {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 3.25%;
  width: 17%;
  height: 33%;
  background-color: #b8b8b8;
  border: solid black 1px;
  border-top-right-radius: 5px;
}

.start-title-container {
  display: flex;
  width: 33%;
  height: 100%;
  background-color: blue;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.start-options-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
}

.start-options-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 7%;
}

.start-title {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: white;
  font-weight: bold;
  font-family: Cambria;
  font-size: 2.5em;
}

.start-item {
  display: flex;
  text-align: center;
  align-self: center;
  list-style-type: none;
  padding: 0 10%;
}

.start-options-container:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.min-win {
  display: flex;
  justify-content: flex-start;
}

.min-win-button {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 2px;
  padding-inline: 7px;
}

.selected {
  font-weight: bold;
  background-color: #d3d3d3;
}

.start-item-icon {
  width: 40px;
}

#shutdown {
  position: relative;
  top: 5%;
}

.internet {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.internet > h1 {
  font-size: 2.25em;
}

.internet > h2 {
  font-size: 1.75em;
}

.net-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background: rgb(184,184,184);
  background: linear-gradient(180deg, rgb(221, 221, 221) 83%, rgb(209, 209, 209) 100%);
  z-index: 5;
}

.net-button-container > button {
  width: 40px;
  height: 40px;

}

.net-button-container {
  display: flex;
}

.net-input-container {
  margin: 10px 0;
  padding-inline: 2%;
  display: flex;
  width: 95%;
}
.net-location {
  margin: 0 10px;
  width: 75px;
}
.net-input {
  width: 100%;
}

#homepage {
  background: rgb(0,26,255);
  background: linear-gradient(180deg, rgba(0,26,255,1) 88%, rgba(90,110,255,1) 100%);
  color: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#homepage p {
  padding-inline: 5%;
}

#homepage > h1 {
  text-align: center;
}

#homepage > h2 {
  text-align: center;
}